<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Portfolio</title>
    {% load static %}

    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type='text/css' href="{% static 'home/css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Alata&family=Montserrat:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Unica+One&display=swap" rel="stylesheet">
    <script src='main.js'></script>
</head>
<body>

    <nav class="info-bar">
        
        <a href="https://www.linkedin.com/in/ignacio-cazcarra-5b1a941a4/" class="line" style="background-color: #0073b1;">
            <span class="icon-link" style="color: white;"> 
                <i class="fab fa-linkedin"></i>
            </span>
            <span class="img_bar">LinkedIn</span>
        </a>

        <a href="https://github.com/IgnacioCazcarra" class="line" style="background-color: #24292e;">
            <span class="icon-link" style="color: white;"> 
                <i class="fab fa-github"></i>
            </span>
            <span class="img_bar">Github</span>
        </a>
  
        <a href="#" class="line" style="background-color: grey;">
            <span class="icon-link" style="color: white; padding-left: 8px;"> 
                <i class="fas fa-portrait"></i>
            </span>
            <span class="img_bar">Resume</span>
        </a>
    </nav>
    <section id="about" class="responsive" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{% static 'home/img/mf.jpg' %}')">    
        <div class="header container">
            <div>
                <span style="font-size: 80px; font-family: 'Montserrat', sans-serif;color: goldenrod; pointer-events: none;">
                    IGNACIO CAZCARRA
                </span>
                <h1 style="font-size: 50px; color:white; font-family: 'Unica One', cursive; text-align: center; pointer-events: none;">
                    SOFTWARE DEVELOPER
                </h1>
                <div style="text-align: center;">
                    <a href="#projects" class="projectbutton">
                        VIEW PROJECTS
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="projects">
        <div class="header container">
            <div>
                <h1>Some of my recent work</h1>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="header container">
        <div class="wrap-box-contact">
            <span><h1 style="font-family: 'Alata', sans-serif;color: #00256B;text-align: center;">Feel free to reach out to me</h1></span>

            <form action="https://formspree.io/xdowvgbv" style="padding-top: 50px;" method="POST">
                <label style="color: #00256B;">
                    Your email:
                    <input class="input-lab" type="text" name="_replyto">
                </label>
                <label style="color: #00256B;">
                    Your message:
                    <textarea class="input-lab" style="height: 100px; resize: vertical;" name="message"></textarea>
                </label>
                <button type="submit" class="btn-submit">Send</button>
            </form>
        </div>
    </div>
    </section>
</body>
</html>