* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 20px;
	font-family: 'Alata', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

#navbar {
	overflow: hidden;
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  }
  
#navbar a {
	float: left;
	text-align: right;
	display: block;
	color: #00256B;
	font-size: 20px;
	padding: 14px 30px;
	text-decoration: none;
	font-size: 17px;
	font-weight: bold;
}
  
#navbar a:hover {
	background-color: #ddd;
	color: #00256B;
}
  
#navbar a.active {
	background-color: #ddd;
}
  
.content {
	padding: 16px;
}
  
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

#projects{
	background-color: honeydew;
	color: #00256B;
}

#contact{
	background-color: honeydew;
	color: #00256B;
}

.info-bar{
	position: fixed;
	left: 0;
	top: 50%;
}

.icon-link{
	font-size: 30px;
	padding-left: 6px;
	text-align: left;
}

.line{
	width: 40px !important;
	height: 40px !important;
	position: relative;
	overflow: hidden;
	display: block;
	transition: width 0.3s;
}

.line:hover{
	width: 110px !important;
}

.img_bar{
	font-size: 17px;
	color: white;
}

.responsive{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size:  cover;
  -o-background-size: cover;
  width: 100%;
  height: 100%;
}
